// VARIABLES

// Colors
$black: #000;
$white: #FFF;
$yellow: #fdc300;
$purple: #A5679A;
$orange: #f07d00;
$green: #6CB54A;
$red: #E85533;
$turquoise: #52B8A0;
$lightgrey: #E3E3E3;
$beige: #E9E5D9;
$lightbeige: #F6F5F0;
$brown: #4A4A4A;
$blue: #004E9E;

// Font size

$font-size-h1: 30px;
$font-size-h2: 18px;
