// Guarantee

.HomeGuarantee {
  padding: 100px 0;

  &-content {
    text-align: center;
    padding-right: 40px;

    @media screen and (max-width: $screen-sm) {
      padding-bottom: 60px;
      padding-right: 0;
    }

    &:last-of-type {
      @media screen and (max-width: $screen-sm) {
        padding-bottom: 0;
      }
    }
  }

  &-title {
    padding-top: 40px;

    font-size: $font-size-h2;
    text-transform: uppercase;
  }

  &-border {
    margin: 40px 0;
    width: 65px;
    left: 50%;
    position: relative;
    transform: translate(-50%);

    border-bottom: 5px solid;

    &--orange {
      border-color: $orange;
    }

    &--green {
      border-color: $green;
    }

    &--red {
      border-color: $red;
    }
  }

  &-description {
    text-align: left;
  }

  & img {
    margin: 0 auto;

    border-radius: 50%;

    @media screen and (max-width: $screen-md) {
      width: 200px;
    }

    @media screen and (max-width: $screen-md) {
      width: 150px;
    }
  }
}
