.HomeNews {
	background-color: #fff;
	padding: 95px 0;

	&-h3 {
		margin-bottom: 0;
		margin-top: 0;
		padding-bottom: 25px;

		font-family: $font-family-sans-serif;
		font-size: 16px;
		font-weight: normal;
		text-transform: uppercase;

		&:after {
			background-color: $yellow;
			margin-top: 20px;
			content: "";
			display: block;
			height: 5px;
			width: 50px;
		}
	}
	
	&-date {
		padding-bottom: 12px;

		font-family: $font-family-sans-serif;
		font-weight: normal;
	}
	
	&-title {
		padding-bottom: 15px;

		font-family: $font-family-sans-serif;
		font-size: 16px;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	&-excerpt {
		padding-bottom: 20px;
		font-family: $font-family-serif;
	}

}
