.initiativJob {
	
	&-block {
		background-color: $white;
		padding: 20px 40px;

		text-align: left;

		&Title {
			padding-bottom: 10px;
			font-size: 18px;
			font-weight: bold;
			text-transform: uppercase;
		}

		&Desc {
			padding-bottom: 15px;
		}

		&Btns {
			line-height: 36px;

			@media (max-width: $screen-sm) {
				a {
					display: inline-block;
				    padding: 0px 20px;
				    margin-bottom: 10px;
				}
			}
		}

	}

	&-link {
		padding: 15px 0 10px 0;

		color: $white;
		text-align: right;
		text-decoration: underline;
	}
}