// JOB SEARCH

.JobSearch {
  padding: 95px 0;

  background-color: $purple;

  @media screen and (max-width: $screen-sm) {
    display: block;
    padding: 40px 0;
  }

  &-img {
    background-image: url('assets/img/home/img-home-job.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    min-height: 340px;

    @media (max-width: $screen-xs) {
      min-height: 210px;
    }

    @media (-webkit-min-device-pixel-ratio: 1.5),
      (min-resolution: 240dpi) {
        background-image: url('assets/img/home/img-home-job@2x.png');
    }

    @media (-webkit-min-device-pixel-ratio: 2),
          (min-resolution: 320dpi) {
            background-image: url('assets/img/home/img-home-job@2x.png');
    }

    @media (-webkit-min-device-pixel-ratio: 3),
          (min-resolution: 480dpi) {
            background-image: url('assets/img/home/img-home-job@3x.png');
    }

  }

  &-content {
    display: table-cell;
    min-height: 340px;
    padding: 40px;

    background-color: $white;

    @media (max-width: $screen-xs) {
      padding: 30px;
    }
  }

  &-title {
    padding-bottom: 20px;

    font-size: $font-size-h2;
    text-transform: uppercase;

    &-border {
      border-bottom: 5px solid $purple;
      width: 60px;
      margin-bottom: 20px;
    }
  }

  &-description {
    padding-bottom: 40px;
  }

  & input {
    border: 1px solid $lightgrey;
    padding: 10px 20px;

    font-size: 18px;
  }

  & input[type="text"]{
    border-radius: 3px 0 0 3px;
    width: 180px;
  }

  & input[type="submit"] {
    border-radius: 0 3px 3px 0;

    background-color: $purple;
    border-color: $purple;
    color: #FFF;
    margin-left: -10px;
  }
}
