.Kontaktaufnahme {

	.UserQuestions {
		background-color: $orange;
	}
	
	h2 {
		font-size: 24px;
		text-transform: uppercase;
	}

	&-wrap {
		background-color: $lightbeige;
	}

	&-container {
		background-color: $white;
		border-radius: 3px;
		-webkit-border-radius: 5px;
		margin: auto;
		margin-bottom: 45px;
		max-width: 620px;
		padding: 20px 70px;

		h3 {
			font-size: 18px;
			text-align: left;
			text-transform: uppercase;
		}

		.UserMessage-formGender {
			padding: 20px 0 10px;
			text-align: left;
		}

		input[type="checkbox"] {
			display: inline-block;
		}

		input[type="checkbox"] + span {
			display: inline-block;
			padding: 0 0px 20px 10px;
    		width: 80%;
    
    		text-align: left;
    		vertical-align: top;
		}
	}
}