// MAP ROUTE

.MapRoute-form {
  display: none;
  padding: 40px;

  background-color: $turquoise;
  color: $white;

  &-arrow {
    position: absolute;
    top: 50%;
    right: 50px;

    @media (max-width: $screen-sm) {
        display: none;
    }
  }

  &-adresse {
    @media (max-width: $screen-xs) {
        padding-top: 30px;
    }
  }

  &-station {
    margin-top: 10px;

    @media screen and (max-width: $screen-sm) {
        margin-top: 30px;
    }
  }

  &-button {
    padding-top: 10px;
    padding-left: 50px;

    @media screen and (max-width: $screen-md) {
      padding-left: 10px;
    }

    @media screen and (max-width: $screen-xs) {
      padding-left: 15px;
    }
  }

  & input[type="text"] {
    padding: 10px;
    width: 310px;

    border: 0;
    border-radius: 3px;
    color: $brown;

    @media screen and (max-width: $screen-md) {
      width: 220px;
    }

    @media screen and (max-width: $screen-sm) {
      width: 100%;
    }
  }

  & input[type="submit"]{
    margin-top: 20px;
    padding: 10px 20px;

    background-color: transparent;
    border: 1px solid $white;
    border-radius: 3px;
  }
}
