@media print {
	

	header, footer, .Map, .SearchForm {
		display: none;
	}

	.Route-steps {
		margin-bottom: -10px;

		&:nth-child(odd) {
			background-color: #ccc;
		}

		&:nth-child(even) {
			background-color: $white;
		}
	}

}